.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding: 245px 312px;
  z-index: 1;
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    padding: 33px 16px;
  }
}
